.item {
     max-width: 800px;
     background-color: rgba(230,230,230,0.5);
     margin-left: auto; margin-right: auto;
     padding: 10px;
     border-radius: 15px;
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.item .block {
     margin: 0px 0px 10px 0px;
     background-color: white;
     border-top-left-radius: 15px;
     border-bottom-right-radius: 15px;
}
.item .block:last-child {
     margin-bottom: 0px;
}

.item .block .heading {
     background-color: rgba(200,200,200,0.5); /* eeducation green rgb(223, 242, 202); */
     border-top-left-radius: 15px;
     padding: 10px 5px 10px 5px;
     margin: 0px;
}
.item .block p:not(.heading) {
     margin: 0px;
     padding: 10px 5px 10px 5px;
     text-align: justify;
}

.alert {
     border-radius: 5px;
     padding: 5px 10px 5px 10px;
}

.alert-error, .alert-error * {
     background-color: rgba(255,0,0,0.3) !important;
}

.alert-success, .alert-success * {
     background-color: rgba(0,255,0,0.3) !important;
}

.alert-loading, .alert-loading * {
     background-color: rgba(122,122,0,0.3) !important;
}

#item-files .alert-loading a:first-child:before {
     width: 16px !important;
     height: 16px !important;
     margin-right: 10px;
     display: inline-block;
     content: " ";
     background-image: url("../img/spinner.gif");
     background-size: 100% 100%
}

textarea {
     height: 200px !important;
}

.targetgroups>div {
     margin: 0px;
}

