<p>{lang:mail:thankyou}</p>
<p>
     {lang:item:you_can_modify}: <br />
     <a href="{this:manageLink}" target="_blank">{this:manageLink}</a>
</p>

<h3>{lang:item:section:personaldata}</h3>
<p>
     {lang:item:firstname}: {item:firstname}<br />
     {lang:item:lastname}: {item:lastname}<br />
     {lang:item:organization}: {item:organization}<br />
     {lang:item:email}: {item:email}
</p>

<h3>{lang:item:section:yoursubmission}</h3>
<p>
     {lang:item:event}: {event:name}<br />
     {lang:item:title}: {item:title}<br />
     {lang:item:targetgroup}: {item:targetgroups}<br />
     {lang:item:description}: {item:description}<br />
     {lang:item:memo}: {item:memo}
</p>

<h3>{lang:item:section:files}</h3>
<ol>{files:}</ol>

<ul>{comments:}</ul>
